#search {
    width: auto;
    height: 30px;
    margin-bottom: 20px;

}

.qiita_wrapper {
    background-color: bisque;
}

.qiita_api {
    height: 30px;
}

.input_area {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.date_input {
    display: flex;
    margin-bottom: 20px;
}

.top_area{
    display: flex;
}

#select_area{
    width: 300px;
    margin-bottom: 20px;
}

#quantity{
    margin-bottom: 20px;
}

.button_area{
    display: flex;
    
}